
.blog {
    .blog-wrapper {
        padding-top: $unit-huge;
    }

    .blog-header {
        text-align: center;
        margin-bottom: $unit-large;
    }

    .blog-title {
        text-transform: uppercase;
        @include font-size(45px);
        margin-bottom: 0;
    }

    .blog-subtitle {
        font-weight: 300;
        font-style: italic;
    }

    .search-form {
        margin-top: $unit;
    }

    .hentry {
        margin-bottom: $unit;

        .entry-header {
            margin-bottom: $unit-small;
            text-align: center;

            a {
                display: block;
                position: relative;
                color: $color-highlight;
                background-color: $color-black;
                &:hover {
                    background-color: $color-green;
                    .entry-category {
                        opacity: 1;
                    }

                    .entry-title {
                        opacity: 0;
                    }
                }
            }

            img {
                border: 1px solid lighten($color-gray, 90%);
            }
        }

        .entry-category,
        .entry-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-style: italic;
            font-size: 28px;
            font-weight: bold;
            transition: opacity .5s;
            line-height: 1.1;
        }

        .entry-category {
            opacity: 0;
        }

        .entry-summary {
            font-family: $font-copy;
            margin-bottom: $unit-tiny;
            font-size: 15px;
            > *:last-child {
                margin-bottom: 0;
            }
        }

        .entry-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .posted-on {
            color: $color-blue;
            font-style: italic;
            font-size: 13px;
        }
    
        .continue-reading {
            font-weight: 700;
            font-style: italic;
            font-style: 13px;
        }
    }
}

.updated:not(.published){
    display: none;
}