.share-this {
    display: flex;
    .label {
        display: none;
        font-size: 14px;
        font-style: italic;
        line-height: 25px;
        @include mq($from: desktop) {
            display: block;
        }

    }
    .social-links-list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        @include mq($from: desktop) {
            margin-left: $unit-tiny;
        }
        a {
            display: inline-block;
            text-align: center;
            width: 25px;
            height: 25px;
            line-height: 25px;
            color: $color-black;
            @include attention() {
                color: $color-green;
            }
        }
    }
}