.page {
    .hentry {
        padding-top: $unit-huge;
    }
    .entry-header {
        text-align: center;
        margin-bottom: $unit-large;
    }

    .entry-title {
        text-transform: uppercase;
        @include font-size(45px);
        margin-bottom: 0;
    }
    .entry-subtitle {
        font-weight: 300;
        font-style: italic;
    }

    .entry-content {
        font-family: $font-copy;

        @include mq($until: desktop) {
            &.has-mobile-text >*:not(.mobile-text) {
                display: none;
            }
        }
        @include mq($from: desktop) {
            &.has-mobile-text >*.mobile-text {
                display: none;
            }
        }
    }
}