.hero {
    color: $color-highlight;
    
    > .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mq($from: desktop) {
            justify-content: flex-end;
        }
    }

    #scroll {
        color: $color-green;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -40px;
        background: none;
        width: 80px;
        height: 80px;
        padding: 0;
        z-index: 11;
        border: 0;
        font-style: italic;
        transition: transform .4s cubic-bezier(0.5, 0, 0.1, 1);
        @include attention() {
            transform: translateY(5px);
        }
        span {
            position: absolute;
            right: 0;
            top: 0;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            width: 4px;
            height: 100%;
            background: $color-green;
            left: 50%;
            margin-left: -2px;
        }
    }
}

.hero-text {
    margin-bottom: 0;
    @include font-size(45px);
    text-align: right;
    font-style: italic;
    @include mq($from: desktop) {
        @include font-size(55px);
        max-width: 45%;
    }
}