.single,
.single-work {
    .single-wrapper {
        padding-top: 1.5 * $unit-huge;
    }

    .search-form {
        margin-bottom: $unit-large;
    }

    .posted-on {
        color: $color-blue;
        font-style: italic;
        font-size: 13px;
        display: inline-block;
        margin-bottom: $unit-tiny;
    }

    .work,
    .post {

        .entry-header {
            text-align: center;
            margin-bottom: $unit-large;
        }

        .entry-title {
            text-transform: uppercase;
            @include font-size(45px);
            margin-bottom: $unit-tiny;
        }
        
        .tagline,
        .cat-links {
            font-weight: 300;
            font-style: italic;
            font-size: 28px;
            font-size: 1.75rem;
            line-height: 1.28571;
            a {
                color: $color-black;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .entry-content {
            font-family: $font-copy;
        }

        .entry-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: $unit-large;
            margin-bottom: $unit-large;
            .post-navigation,
            .back-to-menu {
                font-size: 15px;
                a {
                    color: $color-black;
                    @include attention() {
                        color: $color-green;
                        //text-shadow: 1px 0 0 currentColor;
                    }
                }
            }
        }
    }
}