/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-ui;
    font-weight: 300;
}
