@include headings() {
    margin-bottom: $unit-tiny;
}

strong, b {
    font-weight: 700;
}

blockquote {
    font-size: 18px;
    font-weight: bold;
    em {
        font-weight: normal;
        font-size: 80%;
    }
}